VITE_TAURI_APP_SCHEME=mexboard

VITE_BETTER_AUTH_BASE_URL=http://localhost:8787
VITE_WEBSOCKET_BASE_URL=ws://localhost:8787

VITE_SETTINGS_FILE_NAME=settings.json

VITE_CLIPBOARD_PER_PAGE_LIMIT_OPTIONS=15,20,50
